[mysqld]
user=mysql
bind-address=0.0.0.0
skip-name-resolve
default-storage-engine=INNODB
character-set-server=utf8
[client]
port = 3306
socket =/var/lib/mysql/mysql.sock
default-character-set=utf8
[mysql]
default-character-set=utf8